html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ==================
  Top 5 pictures 
  ==================
*/

img.uae{
  width: 100%;
}

img.usa,
img.usb,
img.usc,
img.usd{
  width: 100%;
  height: 100%;
}

img.use,
img.usf,
img.usg {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 800px 322px 322px ;
  gap: 10px;
  padding: 10px;
  
}
.grid-container {
  
  text-align: left;
  padding:  ;
  font-size: 20px;
  
}
.item1 {
  grid-row: 1/3;
  grid-column: 1;  
}

.item1,
.item2,
.item3,
.item4,
.item5 {
  position: relative;
}
    
.txt,
.txtb,
.txtc{
  position: absolute;
  left: 10px;
  color: white;
  }
.txt {
  bottom: 130px; 
}
.txtb {
  bottom:80px;
}
.txtc {
  bottom: 20px;
}

.txtd {
  bottom: 50px;
}
.txte {
  bottom:10px;
}

.txtf {
  bottom:50px;
}
.txtg {
  bottom:10px;
}

.txth {
  bottom:50px
}
.txti {
  bottom:10px
}

.txtj {
  bottom:50px
}
.txtk {
  bottom: 10px;
  
}

.txtd,
.txte,
.txtf,
.txtg,
.txth,
.txti,
.txtj,
.txtk {
  position: absolute;
  left: 10px;
  color: white
}

/*
 =====================
  Bottom Three
 =====================
*/

.grid-container2 {
  display: grid;
  grid-template-column: 300px ;
  gap: 15px;
  padding: 10px;  
}

.grid-item  {
  
  text-align: left;
  padding:;
  font-size: 20px;
  
}

.item6 {
  grid-row: 1;
  grid-column: 3
}


  



